<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	</head>


	<h2>Draw | Write | Share</h2>

		<link href="http://fonts.googleapis.com/css?family=Oleo+Script" rel="stylesheet" type="text/css">

		<style type="text/css" media="screen">
		
		h2 {
		  font: 400 50px/1.3 'Oleo Script', Helvetica, sans-serif;
		  color: #808080;
		  text-shadow: 4px 4px 0px rgba(0,0,0,0.3);
		}

		body, head {
			background-color:#004142;
			color: #707070;
			font:18px Helvetica;
			text-align: center;

		}

		canvas, img {
			display:block;
			/*margin:0em auto;
			border:0px solid black;*/}
			canvas {background: url("Chalkboard.jpg");
		}
		

		</style>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>